<!DOCTYPE html>
{% load static%}
<html>
<head>

    {% block meta %}
    {% endblock meta %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" href="{% static '' %}">
    
    <title>Miraland {% block title %} {% endblock title %}</title>

    <script>
        var URL = "{% url 'score_update' %}";
        var URL_feedback = "{% url 'add_feedback' %}";
    </script>

    {% block css %}
    {% endblock css %}
</head>

{% comment %} style="background-color: #001f3f" {% endcomment %}
<body >


    {% comment %} Username {% endcomment %}
        <h1 id="username" class="text-center text-primary" >
            {{ user.username }}
        </h1>

        <!-- Nabar  -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-2">
          <a class="navbar-brand mr-2" href="#">Miraland</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav m-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'accueil' %}">Accueil <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'modeun' %}">Inviter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'show' %}">
                  Invitations
                  <i class="fa fa-comments-o" aria-hidden="true"></i>
                  {% if count_notifications >= 1  %}
                  <span class="badge bg-danger">
                    {{ count_notifications }}
                  </span>
                  
                  {% endif %}
                </a>
              </li>              
              <li class="nav-item">
                <a class="nav-link" href="{% url 'proposition_mdp' %}">Propose-moi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="modal" href="#exampleModalToggle" >Feedback !!</a>
              </li>
            </ul>

            {% if user.is_authenticated %}
              <div class="d-grid gap-2 d-md-flex justify-content-md-end p-3 col-2">
                  <a href="{% url 'deconnexion' %}" type="button" class="btn btn-danger btn-sm fs-4 text-white">Déconnexion</a>
              </div>
            {% else %}
              <div class="d-grid gap-2 d-md-flex justify-content-md-end p-3 col-2">
                  <a href="{% url 'connexion' %}" type="button" class="btn btn-success btn-sm fs-4 text-white">Connexion</a>
              </div>
            {% endif %}

          </div>
        </nav>
        <!-- fin navbar -->


          <!-- Modal for feedbacks  -->
          <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Feedback</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <p>Aidez-nous à nous améliorer en donnant un feedback...
                      </p>

                      <div class="mb-3">
                          <!-- <label for="message-text" class="col-form-label">Message:</label> -->
                          <textarea class="form-control" id="feedback"></textarea>
                      </div>
                  </div>

                  <div class="modal-footer">
                    <button class="btn btn-primary" id="submitFeedback" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Envoyer</button>
                  </div>

                </div>
              </div>
            </div>
            {% comment %} Message of thanks {% endcomment %}
            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">Merci beaucoup</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Nous vous remercions pour votre aide précieuse. 
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-dismiss="modal">Revenir au jeu</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Modal feedbacks  -->




      



    <!-- Pour le contenu -->
    {% block content %}
    
    {% endblock content %}

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-dialog">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New message</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Thème:</label>
                  <select class="form-select form-select-lg mb-3" id="theme" aria-label=".form-select-lg example">
                    {% for i in themes %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Difficulté:</label>
                  <select class="form-select form-select-lg mb-3" id="difficulte" aria-label=".form-select-lg example">
                    {% for j in difficultes %}
                        <option value="{{ j }}">{{ j }}</option>
                    {% endfor %}
                  </select>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
              <button type="button" id="options" class="btn btn-primary" data-bs-dismiss="modal">Valider</button>
            </div>
          </div>
      </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    {% comment %} <script src="{% static 'js/script.js' %}"></script>  {% endcomment %}
    <!-- Mes scripts -->
    {% block script %}  

    {% endblock script %}

</body>
</html> 