<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Tableau des scores</title>

    <script>
      var URL_feedback = "{% url 'add_feedback' %}";
  </script>
</head>
<body style="background-color: #001f3f">
    <h1 class="text-center text-white">Scores</h1>

    <div class="row">
      <div class="d-grid gap-2 d-md-flex justify-content-md-start p-3 col-2">
          <a href="{% url 'mot_de_passe' %}" type="button" class="btn btn-outline-success text-white fs-4">Revenir au jeu</a>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end p-3 col-4">
        <a class="btn btn-outline-secondary fs-4 text-white" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Feedback ?</a>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start p-3 col-4">
        <a class="btn btn-outline-secondary fs-4 text-white" href="{% url 'accueil' %}" role="button">Accueil</a>
    </div>

      {% if user.is_authenticated %}
          <div class="d-grid gap-2 d-md-flex justify-content-md-end p-3 col-2">
              <a href="{% url 'deconnexion' %}" type="button" class="btn btn-outline-danger fs-4 text-white">Déconnexion</a>
          </div>
      {% else %}
          <div class="d-grid gap-2 d-md-flex justify-content-md-end p-3 col-2">
              <!-- <a href="{% url 'connexion' %}" type="button" class="btn btn-outline-danger fs-4 text-white">Connexion</a> -->
              <a href="{% url 'connexion' %}" type="button" class="btn btn-outline-primary fs-4 text-white">Connexion</a>

          </div>
      {% endif %}
    </div>

    <!-- Modal for feedbacks -->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel">Modal 1</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Show a second modal and hide this one with the button below.
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Open second modal</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Hide this modal and show the first with the button below.
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Back to first</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card shadow mb-4" style="background-color: #DDDDDD;">
        <div class="card-header py-3">
          <!-- <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6> -->
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
              <thead>
                <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 195px;">Joueur</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 294px;">Score</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 294px;">Date</th></tr>
              </thead>
              <!-- <tfoot>
                <tr><th rowspan="1" colspan="1">Joueur</th><th rowspan="1" colspan="1">Score</th></tr>
              </tfoot> -->
              <tbody>
                  {% for score in scores %}
                <tr role="row" class="odd">
                    <td class="sorting_1">{{ score.username }}</td>
                    <td>{{ score.points }}</td>
                    <td>{{ score.date }}</td>
                    <!-- <td>{{ offre.country }}</td> -->
                    <!-- <td>{{ offre.intitule }}</td>
                    <td>{{ offre.price }}</td>
                    <td>{{ offre.monnaie }}</td>
                    <td>{{ offre.seller }}</td>
                    <td>{{ offre.date }}</td> -->

                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    <!-- <a class="btn btn-primary" href="{% url 'mot_de_passe' %}" style="background-color: #DDDDDD; color: black;">Mot-de-passe</a> -->


    <script>
      const btn_feedback = document.querySelector('#submitFeedback');
      var feedback
      btn_feedback.onclick = (event) => {
          feedback = document.querySelector('#feedback').value;
          addFeedback()
      };
    </script>
</body>
</html>