<!DOCTYPE html>
{% load static%}
<html>
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" href="{% static '' %}">
    
    <title>Quiz'dine</title>


</head>

<body >

<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-3 pb-2"></div>
    
        <div class="col-12 col-md-6 pb-2">
          <div class="card">
            <div class="card-body">
              <div class="media d-flex justify-content-around">
    
                <div class="media-body ">
                  {% for use in userId|slice:":1"  %}
                  <h3 class="danger"> {{use.score|floatformat:1 }}% </h3>
                  <span>  {{use.user}}  </span>
                  {% endfor %}
                </div>
    
                <div class="align-self-center  ">
                  <i class="fa fa-trophy fa-3x text-right" aria-hidden="true" style="color: #fd0d41;"></i>
                </div>
    
              </div>
            </div>
          </div>
        </div>
    
        <div class="col-12 col-md-3 pb-2"></div>
      </div>
      <div class="row">
        <!-- score for users online -->
        <div class="col-12 col-md-4 pb-2">
          <div class="card">
            <div class="card-header ">
              <h5 class="card-title text-center">
                <i class="fa fa-flask fa-1x " aria-hidden="true"></i>
                    Vos Scores
              </h5>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
    
                  <thead class="" style="background-color:#fd0d41; color:#fff;">
                    <tr>
                      <th scope="col">N°</th>
                      <th scope="col">Joueurs</th>
                      <th scope="col">Scores</th>
                      <!-- <th scope="col">Dates</th> -->
                    </tr>
                  </thead>
    
                  <tbody>
                    {% for use in userId  %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td> {{use.user}} </td>
                      <td> {{use.score|floatformat:1 }} %</td>
                      <!-- <td class="text-muted" style="font-size: 13px;">il ya </td> -->
                    </tr>
                    {% endfor %}
                   
                  </tbody>
    
                </table>
              </div>
            </div>
          </div>
        </div>
    
    
        <!-- score for all users  -->
        <div class="col-12 col-md-8 pb-2">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title text-center">
                 Quiz'dine 
              </h3>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
    
                  <thead>
                    <tr>
                      <th scope="col">N°</th>
                      <th scope="col">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Joueurs
                      </th>
                      <th scope="col">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                        Scores
                      </th>
                      <!-- <th scope="col">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        Dates
                      </th> -->
                    </tr>
                  </thead>
    
                  <tbody>
                    {% for score in scoresauth %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td> {{score.user}} </td>
                      <td> {{score.score|floatformat:1}} %</td>
                      <!-- <td> {{score.date|timesince}} </td> -->
                    </tr>
                    {% endfor %}
                  </tbody>
    
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html> 